
<nav>
  <div class="logo-div">
    <img width="100%" src="./../assets/img/reddit-logo.png" >
  </div>
   

     <form class="search-form">

         <i class="fas fa-search search-icon"></i>
         <input type="search" placeholder="Search...">
       
     </form>
 
   <div class="link-div">
     <ul>
       <li> <a href="" id="login">LOG IN</a></li>
       <li><a href=""> SIGN UP</a></li>
     </ul>
   </div>

  
     <button class="hamburger-button" (click)="toggleMenu()" ><span class="iconify" data-icon="radix-icons:hamburger-menu" data-inline="false"></span></button>   
   

</nav>

<div class="mobile-menu" id="mobileMenu" >
      <form class="mobile-search">
      
        <i class="fas fa-search search-icon"></i>
        <input type="search" placeholder="Search...">
      
      </form>
      <div class="mobile-link-div">
        
          <a href="" id="login">LOG IN</a>
          <a href=""> SIGN UP</a>
        
      </div>
</div>



<div class="pop-up-form" #popupform>
  <button class="close-pop-form"  (click)="closePopUpForm()">
    <span class="close-icon"><i class="fas fa-times"></i></span>
  </button>
  <app-post-form  (messageEvent)="receivedMessage($event)"></app-post-form>
</div>


<main> 
  <!-- this is the left side bar column -->
  <div class="grid-1">

  </div>
  <!-- this is the main content (middle) column -->
  <div class="grid-2" >

    <app-posts  *ngFor="let Post of sortedPosts()" [Postfilter]="Post"></app-posts>
      
  </div>

  <!-- this is the right sidebar column -->
  <div class="grid-3">
   

  </div>

</main>


    <section class="side-nav-section">
      <div class="side-nav">
        <span><a><i class="fas fa-burn"></i></a></span>
        <span><a (click)="togglePopUpForm()"><span class="open-icon" #open_icon><i class="fas fa-plus-circle"></i></span><span class="close-icon" #close_icon><i class="fas fa-times"></i></span></a></span>
        <span><a><i class="far fa-comment-alt"></i></a></span>
      </div>
    
    </section>

