/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

body {
  box-sizing: border-box;
  background-color: #dae0e6;
  margin: 0;
  padding: 0;
}
